{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<head>
    <style>
        .noCopy {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
</head>
<!--navbar-->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" style="color:white;" href="/">CryptoEHR</a>
    <a class="navbar-brand" style="color:white; vertical-align: middle; float: right; font-size: 15px;" href="/">Log Out</a>
    <a class="navbar-brand" style=" color:white; vertical-align: middle; float: right; font-size: 15px;" href="/patient">Logged In</a>
</nav>
<!--navbar end-->
<div class="row">

<!--audit actions-->
    <div class="container col-md-6" style="margin-left: 10%">
 <h3>Audit actions</h3>
    <ul>
        <li class="list-group-item">Account Address: {{username}}</li>
        {% if contract_address != "0" %}
        <li class="list-group-item">Contract Address to Audit: {{contract_address}}</li>
        {% endif %}
    </ul>
  <hr>
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        <div class="row">
            <div class="form-group col-md-8">
                {{ wtf.form_field(form.contract_address, class='form-control',
                placeholder='Patient Contract Address to View Medical Records') }}
                <button type="submit" class="btn btn-primary col-md-3" style="width: fit-content;" value="VALUE10" name="action10">Submit</button>

            </div>
        </div>

    </form>
    <hr>
  <form action="" method="post" class="form" role="form">
   {{ form.csrf_token() }}
   <div class="row">
      <div class="form-group col-md-8">
       {{ wtf.form_field(form.print_record, class='form-control', 
          placeholder='Record ID') }}
       <button type="submit" class="btn btn-primary col-md-3" style="width: fit-content;" value="VALUE1" name="action1">Print</button>

      </div>
    </div>
    
  </form>
  <hr>
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
        <div class="row">
            <div class="form-group col-md-8">
                {{ wtf.form_field(form.copy_record, class='form-control',
                placeholder='Record ID') }}
                <button type="submit" class="btn btn-primary col-md-3" style="width: fit-content;" value="VALUE4" name="action4">Copy </button>

            </div>
        </div>

    </form>
    <hr>
  <form action="" method="post" class="form" role="form">
   {{ form.csrf_token() }}
   <div class="row">
      <div class="form-group col-md-8">
          {{ wtf.form_field(form.update_record_id, class='form-control',
          placeholder='Record ID') }}
          {{ wtf.form_field(form.update_record_rec, class='form-control',
          placeholder='Record Details') }}
       <button type="submit" class="btn btn-primary col-md-3" style="width: fit-content;" value="VALUE2" name="action2">Update </button>

      </div>
    </div>
    
  </form>
  <hr>
  <form action="" method="post" class="form" role="form">
   {{ form.csrf_token() }}
   <div class="row">
      <div class="form-group col-md-8">
       {{ wtf.form_field(form.query, class='form-control', 
          placeholder='Record ID') }}
          <button type="submit" class="btn btn-primary col-md-3" style="width: fit-content; margin-right: 10px" value="VALUE3" name="action3">Query</button>
          <button type="submit" class="btn btn-primary col-md-3" style="width: fit-content;" value="VALUE30" name="action30">List Unique ID's</button>

      </div>
    </div>
    
  </form>
  <hr>
  <form action="" method="post" class="form" role="form">
   {{ form.csrf_token() }}
   <div class="row">
      <div class="form-group col-md-8">
       {{ wtf.form_field(form.delete_record, class='form-control', 
          placeholder='Record ID') }}
       <button type="submit" class="btn btn-primary col-md-3" style="width: fit-content;" value="VALUE5" name="action5">Delete</button>

      </div>
    </div>
    
  </form>

  <hr>
  <p>Distributed EHR System - All humans working for you.</p>
</div>
<!--audit actions end -->

<!--results-->
    <div class="container col-md-4">
        {% if isCard == True %}
        {% block content1 %}
        <div class="card noCopy" style="width: 48rem; position: fixed; top: 30%;">
            <div class="card-body">
                <h5 class="card-title">Action: {{result}}</h5>
                <p class="card-text"><b>Details:</b>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                {% if isStart == True %}
                <li class="list-group-item"><b>Appointment Date:</b> {{date}}</li>
                {% endif %}
                <li class="list-group-item"><b>Tx Hash:</b> {{tx_hash[:40]}}...</li>
                {% if event_logs[0]['args']['record_unique_id'] %}
                <li class="list-group-item"><b>Unique Record ID:</b>  {{event_logs[0]['args']['record_unique_id']}} </li>
                <li class="list-group-item"> Show this to your doctor to audit this record:<br>
                    <img src={{qr_code}} alt="" title="" />
                </li>

                {% endif %}
                {% if event_logs[0]['args']['record_msg'] %}
                <li class="list-group-item"><b>Record Message:</b>  {{event_logs[0]['args']['record_msg']}} </li>
                <li class="list-group-item"><b>Record Status:</b> {{event_logs[0]['args']['record_status']}}
                    <br>(0-Created, 1-Deleted, 2-Changed, 3-Queried, 4-Printed, 5-Copied)</li>

                {% endif %}
                {% if event_logs[0]['args']['return_msg'] %}
                <li class="list-group-item"><b>Event Log:</b>  {{event_logs[0]['args']['return_msg']}} </li>
                <li class="list-group-item"><b>Address:</b>  {{event_logs[0]['args']['doctor_address']}} </li>
                <li class="list-group-item"><b>Epoch time:</b>  {{event_logs[0]['args']['record_time']}} </li>
                {% endif %}
            </ul>

            <div class="card-body">
                {% if record_details %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Medical Record Details:</b> </li>
                    <li class="list-group-item">{{record_details}}</li>
                </ul>
                {% endif %}
            </div>
        </div>
        {% endblock %}
        {% endif %}

        {% if isDF%}
        {% block content2 %}
        <div class="card" style="width: 48rem; position: fixed; top: 30%;">
            <div class="card-body">
                <h5 class="card-title">Unique Medical Record IDs:</h5>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                {% for key,value in filtered_df.iterrows() %}
                <li class="list-group-item"><b>{{ value['contract_address'][0:10] }}...:</b> {{value['unique_id']}}</li>
                {% endfor %}
            </ul>

        </div>
        {% endblock %}
        {% endif %}
    </div>
<!--results end-->
</div>
<!--footer-->
<footer class="bg-light text-center text-lg-start" style="position: float; bottom: 0; right:0; left:0;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);  padding: 20px;">
    © 2021 Copyright:
    <a class="text-dark" href="https://github.com/cumbul">Kivilcim(Kylie) Cumbul</a>
  </div>
  <!-- Copyright -->
</footer>
<!--footer end-->
{% endblock %}
